body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    background-color: white;
    border: 1px solid #000;
    display: block;
    margin: auto;
}

.col-1 {
    height: 100vh;
    overflow-y: auto;
}